# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

*.pptx
Code_Source/.idea/.name
Code_Source/.idea/Code_Source.iml
Code_Source/.idea/encodings.xml
Code_Source/.idea/magicento.xml
Code_Source/.idea/workspace.xml
Code_Source/.idea/vcs.xml
Code_Source/.idea/scopes/scope_settings.xml
Code_Source/.idea/magicento/adminhtml.xml
Code_Source/.idea/misc.xml
Code_Source/.idea/modules.xml