<config>
    <modules>
        <Valibus_Landing>
            <version>0.5.0</version>
        </Valibus_Landing>
    </modules>
    <global>
        <blocks>
            <valibus_landing>
                <class>Valibus_Landing_Block</class>
            </valibus_landing>
        </blocks>
        <helpers>
            <valibus_landing>
                <class>Valibus_Landing_Helper</class>
            </valibus_landing>
        </helpers>
        <models>
            <valibus_landing>
                <class>Valibus_Landing_Model</class>
            </valibus_landing>
        </models>
    </global>
    <frontend>
        <translate>
            <modules>
                <Valibus_Landing>
                    <files>
                        <default>Valibus_Landing.csv</default>
                    </files>
                </Valibus_Landing>
            </modules>
        </translate>
        <layout>
            <updates>
                <valibus_landing>
                    <file>valibus/landing.xml</file>
                </valibus_landing>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Valibus_Landing>
                    <files>
                        <default>Valibus_Landing.csv</default>
                    </files>
                </Valibus_Landing>
            </modules>
        </translate>
    </adminhtml>
</config>